.footer {
  color: #d9d9d9;
  background-color: #f4f2f2;
  margin-top: 100px;
}

.file {
  padding: 10px;
}

.btn-file {
  width: 80px;
  height: 40px;
  background: black;
  color: white;
  margin-left: 40px;
  margin-top: 20px;
  border-radius: 5px;
}

.img-data {
  float: right;
  padding: 10px;
}